.label {
    -fx-font-weight: bold;
    /* -fx-font-size: 12px; */
    -fx-text-fill: #fe6198;
}

/* YOUR SCORE */
#your-score-label {
    /* -fx-font-size: 40px; */
    /* -fx-padding:80 0 0 0; */
}
#your-score-table {
    /* -fx-max-height: 120; */
    /* -fx-pref-height: 92px; */
}
/* #your-score {
    -fx-padding: 0 0 10 0;
    -fx-alignment: center;
} */

/* LEADERBOARD */
#leaderboard-label {
    /* -fx-font-size: 40px; */
    /* -fx-font-family: fantasy; */
    /* -fx-padding: 0 0 0 0; */
}
/* #leaderboard-label:hover {
    -fx-text-fill: orange;
} */
#leaderboard-table {
    /* -fx-pref-height: 92px; */
}
/* #leaderboard {
    -fx-alignment: center;
} */
.table-view .label {
    -fx-text-fill: #fe6198;
    /* -fx-padding: 20 0 20 0; */
    /* -fx-font: normal bold 15 sans-serif; */
}

/* TABLE COLUMNS*/
#rank-col {
    /* -fx-pref-width: 10%; */
    -fx-alignment: center;
}
#name-col {
    /* -fx-pref-width: 44%; */
    -fx-alignment: center;
}
#score-col {
    /* -fx-pref-width: 30%; */
    -fx-alignment: center;
}

/* MENU */
.button {
    -fx-text-fill: white;
    -fx-background-color: #fe6198;
    /* -fx-label-padding: 10 20 10 20; */
    -fx-background-radius: 5 5 5 5;
}
.button:hover {
    -fx-background-color: #a53f63;
}
.button:armed {
    -fx-background-color: #7f304c;
}
/* #menu {
    -fx-padding: 20 0 0 0;
    -fx-alignment: center;
} */

.table-view {
    /* -fx-background-position: center;
    -fx-text-fill: red;
    -fx-selection-bar: #ffda31; */
    -fx-background-color: transparent;
    /* -fx-border-color: #fe6198;
    -fx-border-radius: 12;
    -fx-background-radius: 12; */
    /* -fx-max-width: 600; */
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
}
/* HEADER */
.table-view .column-header {
    -fx-background-color: transparent;
    /* -fx-size: 45px; */
    /* -fx-min-height: 45px; */
    /* -fx-pref-height: 45px; */
    -fx-cursor: hand;
}
.table-view .column-header .label {
    -fx-font-size: 1.083333em;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: center;
    /* -fx-padding: 5 5 5 5; */
}
.table-view .filler {
    -fx-background-radius: 0 5 0 0;
    -fx-background-color: transparent;
    /* -fx-size: 45px; */
    /* -fx-min-height: 45px; */
    /* -fx-pref-height: 45px; */
}
.table-view .show-hide-columns-button{
    -fx-background-color: #fe6198;  
}
.table-view .column-drag-header {
    -fx-background-color: #fe6198;
    -fx-cursor: h-resize;
}
.table-view .column-resize-line{
    -fx-text-fill: white;
    -fx-background-color: white;
    -fx-fill: white;
    -fx-border-color: white;
    -fx-border-width: 1;
}
.table-view .column-header .sort-order{
    -fx-text-fill: white;
    -fx-fill: white;
}
.table-view .placeholder {
    -fx-background-color: white;
}
.table-view .placeholder .label {
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
    -fx-text-fill: #fe6198;
    -fx-alignment: center;
}
.table-view .virtualflow {
    -fx-background-color: white;
}
/* Each row in the table is a table-row-cell. Inside a table-row-cell is any
   number of table-cell. */
.table-row-cell {
    -fx-background-color: transparent; 
    -fx-border-width: 0.0;
    /* -fx-padding: 10.0 0.0 10.0 0.0;   */
    /* -fx-pref-height: 45.0px; */
}
.table-row-cell:filled:even{
    -fx-background-color: white;
}
.table-row-cell:filled:odd{
    -fx-background-color: #F6F7F8;
}
.table-view:row-selection .table-row-cell:filled:hover {
    /*-fx-background-color: red;*/
}
.table-view:row-selection .table-row-cell:filled:hover .text {
    /*-fx-fill: white;*/     
}
.table-row-cell:filled:focused {
    -fx-background-color: #e1e2e3;         
    -fx-background-insets: 0.0;
}
.table-row-cell:filled:focused .text {  
}
.table-row-cell .table-column{
    -fx-border-width: 0.0;  
    /* -fx-padding: 0.0 0.0 0.0 5.0;    */
}
/* CELL TEXT */
.table-row-cell .text{
    -fx-font-size: 1.1em;
    -fx-fill: #6F7B8A;
}
/* VERTICAL SCROLL BAR */
.table-view .scroll-bar:vertical{      
    /* -fx-padding: 0.0 0.0 0.0 0.0; */
}
/* HORIZONTAL SCROLL BAR */
.table-view .scroll-bar:horizontal {
    /* -fx-padding: 0.0 0.0 0.0 0.0; */
}
/* COLUMN HEADER BACKGROUND */
.table-view .column-header-background {
    -fx-background-radius: 5.0 5.0 0.0 0.0;
    -fx-background-color: #fe6198;
}

#anchor-pane {
    -fx-background-color: #fcdee9;
    /* -fx-spacing: 5; */
    /* -fx-padding: 10 10 10 10; */
    -fx-alignment: center;
}