.button {
    -fx-text-fill: white;
    -fx-background-color: #fe6198;
    -fx-background-radius: 5 5 5 5;
}
.button:hover {
    -fx-background-color: #a53f63;
}
.button:armed {
    -fx-background-color: #6f2c42;
}
#buttons {
    -fx-padding: 20 0 0 0;
    -fx-alignment: center;
    -fx-spacing: 20;
}

#border-pane {
    -fx-background-color: #fcdee9;
    
}
