.label {
    -fx-font-weight: bold;
    -fx-font-size: 40px;
    -fx-font-family: serif;
    -fx-text-fill: red;
    -fx-background-color: black;
}

.button {
    -fx-text-fill: green;
    -fx-background-color: yellow;
}